<h2><%= @society.name %></h2>
<div class="row">
  <div class="span3">
    
      
    <% if !current_user.is_member?(@society) %>
      <%= link_to 'Join this society!', join_society_path(:user => current_user), :method => :post, :class => 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Leave this society', leave_society_path(:user => current_user), :method => :post, :class => 'btn btn-primary' %>
    <% end %>
    <br /><br />
    <%= link_to 'Edit society', edit_society_path(@society), :class => 'btn btn-primary' %><br />
    <p>
    <b>Members</b><br />
      <% for user in @society.users do %>
        <%= link_to user.name, user %><br />
      <% end %>
    </p>
    <h3>Location</h3>
      <% @society.location_list.each do |location| %>
        <%= link_to location, tagged_url(:tag => location) %>
      <% end %>
   
    <h3>Categories</h3>
      <% @society.category_list.each do |category| %>
        <%= link_to category, tagged_url(:tag => category) %>
      <% end %>



 
   
  </div>
</div>