<h1>Societies tagged as ???</h1>

<table>
  <tr>
    <th>Name</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @societies.each do |society| %>
  <tr>
    <td><%= society.name %></td>
    
    <td><%= link_to 'Show', society %></td>
    <td><%= link_to 'Edit', edit_society_path(society) %></td>
    <td><%= link_to 'Destroy', society, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Society', new_society_path %>