<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.association :user %>
    <%= f.input :type %>
    <%= f.association :society %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
